/* spinner.css */

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/* Grey tint with 50% opacity */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1; /* Ensure it's behind the spinner */
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure the spinner is on top of the background blur */
  border-radius: 8px;
  padding: 1rem;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  /* color: grey; */
  color: #616161; /* Slightly darker grey */
  position: relative;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  /* color: #d32f2f; */
  color: #f44336; /* Vibrant red for contrast */
  transform: rotateY(70deg);
  animation-delay: .4s;
}

.spinner-text {
  margin-top: 1rem;
  /* color: grey; */
  color: #757575; /* Slightly darker grey */
  font-size: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: white;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
